// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 55px;
  background-color: #f5f5f5;
}

main {
  height: calc(100vh - 55px);
}

.seiyu-sidebar {
  height: calc(100vh - 55px);
}

@import 'login';
@import 'scroll_bar';
