// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

@import 'login';
@import 'scroll_bar';
